<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <% include partials/head.html %>

    <title>Express.js</title>
</head>
<body>

    <% include partials/nav.html %>
    <% include partials/content.html %>
    
     

    <script>
        console.log(moment);

        function updateClock() {
            var hoy = moment().format('MMMM Do YYYY, h:mm:ss a');
            var fechaactual = document.getElementById("fecha");
            fechaactual.innerHTML = hoy;
            setTimeout(updateClock, 1000);
        }
        updateClock();
    </script>
</body>
</html>