
  nav.navbar {
      position: fixed;
      background: #F8F9FA;
      z-index: 1000;
      width: 100%;
      margin-bottom: 20px;
  }
  
  #fecha {
      position: absolute;
      right: 0;
      top: -5px;
  }
  
  .lead {
      cursor: pointer;
  }
  