
<div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">Express.js</h1>
              <p class="lead text-muted mb-0">Express es el framework web más popular de Node, y es la librería subyacente para un gran número de otros frameworks web de Node populares. <a class="text-muted" data-toggle="modal" data-target="#myModal">
                        <u>Node.js</u>
                </a>
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Node.js</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                                    Es un entorno que trabaja en tiempo de ejecución, de código abierto, multi-plataforma, que permite a los desarrolladores crear toda clase de herramientas de lado servidor y aplicaciones en JavaScript.
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>

           

              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/359/full/expressjslogo.png" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
        
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://www.stickpng.com/assets/images/58481018cef1014c0b5e494a.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
              <h2 class="font-weight-light">Moment.js</h2>
              <p class="font-italic text-muted mb-4">Una biblioteca de fechas de JavaScript liviana para analizar, validar, manipular y formatear fechas.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="bg-light py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light">Equipo</h2>
              </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-7 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/sergio.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Sergio Mejía</h5>
                      
                </div>
            </div>

            <!-- Team item-->
            <div class="col-xl-3 col-sm-7 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/douglas.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Douglas Palacios</h5>
                
              </div>
            </div>
            <!-- End-->
      
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-7 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/arnoldo.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Arnoldo Ortíz</h5>
                
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-7 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/william.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">William Solano</h5>
                
              </div>
            </div>
            <!-- End-->
      
          </div>
        </div>
      </div>
      
      
      <footer class="bg-light pb-5">
        <div class="container text-center">
          <p class="font-italic text-muted mb-0">Express.js</p>
        </div>
      </footer>
     